body {
  background-color: #3aafa9;
}
.jumbotron {
  background-color: #17252a;
}
h1 {
  color: #feffff;
}
h2 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #17252a;
}

h3 {
  color: #17252a;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
  color: #feffff;
}

#navigation {
  margin-bottom: 1em;
}

#bio {
  align-items: center;
  align-content: center;
}

dd {
  color: #feffff;
}

.interest {
  color: #feffff;
}

.cardtext {
  color: #17252a;
}

.images {
  align-content: center;
}
footer p {
  text-align: center;
  color: #feffff;
  font-weight: bolder;
}
footer {
  margin-top: 3em;
  background-color: #17252a;
}
#formul {
  align-content: center;
  align-items: center;
}

input[type="text"] {
  background-color: transparent;
  width: 50em;
  margin-bottom: 10px;
  background-color: #feffff;
}

.custom-toggler.navbar-toggler {
  border-color: #feffff;
}

label {
  color: #17252a;
  font-weight: bolder;
  font-size: large;
}

/*Manejo del estilo en vez del atributo frameborder=0.*/
iframe {
  border: 0;
}
